body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #cdb4db;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

/* custom styles for btn-1, btn-2, and btn-3 */

/*btn-1*/
.btn {
    background: #ffadad
}

.btn-1:hover {
    background-image: linear-gradient(to right, #ffadad, #ffd6a5 20%, #fdffb6 40%, #9bf6ff 60%, #a0c4ff 80%, #bdb2ff 100%);
    animation: dance 0.5s both;
    transform: scale(1,1) translateY(2px);
}

/*btn-1 animation*/
@keyframes dance {
    from {
        background-position: 0;
    }
    to {
        background-position: 130px;
    }
}

/*btn-2*/
.btn-2 {
    background: #6a5acd;
}

.btn-2:hover {
    animation: jump 0.5s ease;
    background: #9395d3;   
}

/*btn-2 animation*/
@keyframes jump {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-10px);
    }
}

/*btn-3*/
.btn-3 {
    background: #8b008b;
}

.btn-3:hover {
    animation: shake 2s ease-in-out 3;
}

/*btn-3 animation*/
@keyframes shake {
    0%, 100% {
        transform: translateX(0); /* Start and end at the original position */
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px); /* Move left by 10px */
        background: #f6b9f3; /* Change background color to  */
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px); /* Move right by 10px */
        background: #e070b2; /* Change background color to yellow */
    }
}
